body {
    background-color: rgb(0, 89, 255);
}
.main { display: flex column;
    background-color: transparent;
}

.col {
    display: flex;
    justify-content: space-around;
}

.col1 { color: blue;
    justify-content: left;
}
.col2 { color: rgb(255, 0, 98);
}